<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <div id="app">
        <div class="container">
            <header>
                <h1>ToDoList</h1>
            </header>
            <main>
                <ul>
                    <li :class="stato(index)" v-for="element , index in coseDaFare">
                        <span @click="cambiaStato(index)" :class="stato(index)">
                            {{element.titolo}} 
                        </span>
                        <i :class="stato(index)" @click="svuota(index)" class="fa-solid fa-xmark"></i> 
                    </li>
                </ul>
                <div class="input-cont">
                    <input v-model="userImput" type="text" style="color: black;">
                    <a @click="stampa()" href="#" type="button">AGGIUNGI</a>
                </div>
            </main>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>
</html>